<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="hu">
<head>
	<title>Borkóstolás</title>
	<meta http-equiv="content-type" content="application/xhtml; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="style.css" media="screen, print, projection" />
		<!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script> -->
		<script type="text/javascript" src="Chart.min.js"></script>
		<script type="text/javascript" src="Legend.js"></script>
		<script type="text/javascript" src="http://numericjs.com/lib/numeric-1.2.6.min.js"></script>
		<script type='text/javascript'>

		var nMaxSize = 10000;
		function isNumber(input){
			var numbers = /^[0-9]+$/;
			if(input.value.match(numbers)){
				return true;
			}
			return false;
		}
		function isEmpty(input){
			if (input == null || input == "") {
				return true;
			}
			return false;
		}
		function clearResults(){
			// clear graphs
			var graph = document.getElementById("graph");
			while (graph.hasChildNodes()) {
				graph.removeChild(graph.lastChild);
			}

			// clear textResults
			var textResult = document.getElementById("textResult");
			while (textResult.hasChildNodes()) {
				textResult.removeChild(textResult.lastChild);
			}
		}
		function addMatrix(){
			var Kostolok = document.getElementById("kostolok");
			var nKostolok = Kostolok.value
			var Borok = document.getElementById("borok");
			var nBorok = Borok.value

			if (!isNumber(Kostolok)){
				alert('A ' + Kostolok.name + ' mezőbe 0 nál nagyobb számot kell írni! (numerikus formátumban)');
				return;
			}else if (!isNumber(Borok)){
				alert('A ' + Borok.name + ' mezőbe számot kell írni!');
				return;
			}

			nKostolok = parseInt(nKostolok);
			nBorok = parseInt(nBorok);
			if (nKostolok < 1){
				alert('A ' + Kostolok.name + ' mezőbe 0 nál nagyobb számot kell írni! (numerikus formátumban)')
				return;
			}else if (nBorok < 1){
				alert('A ' + Borok.name + ' mezőbe 0 nál nagyobb számot kell írni! (numerikus formátumban)')
				return;
			}

			var matrixInputCheck = document.getElementById("0:0");
			if (matrixInputCheck){
				if (!confirm('Az esetlegesen jelenleg kitöltött mezők törlésre fognak kerülnek!\n\nBiztosan újra akarja generálni a beviteli mezőket?')) {
					return;
				}
			}

			clearResults();

			var matrix = document.getElementById("inputMatrix");

			while (matrix.hasChildNodes()) {
				matrix.removeChild(matrix.lastChild);
			}
			var tbl = document.createElement('table');
			var thead = document.createElement('thead');
			var trHead = document.createElement('tr');
			for (i=0;i<nKostolok+1;i++){
				var th = document.createElement("th");
				if (i>0){
					th.appendChild(document.createTextNode(i + ". Kóstoló"));
				}
				trHead.appendChild(th);
			}
			thead.appendChild(trHead);
			tbl.appendChild(thead);
			var tbdy=document.createElement('tbody');
			for (i=0;i<nBorok+1;i++){
				var tr=document.createElement('tr');
				var td0=document.createElement('td');;
				if (i==0){
					td0.appendChild(document.createTextNode("Kóstoló neve"));
				}else{
					td0.appendChild(document.createTextNode(i + ". Bor"));
				}
				tr.appendChild(td0);
				for (j=0;j<nKostolok;j++){
					var td=document.createElement('td');
					var input = document.createElement("input");
					input.type = "text";
					input.name = i + ":" + j;
					input.className = "matrixInput";
					input.id = i + ":" + j;
					td.appendChild(input);
					tr.appendChild(td)
				}

				tbdy.appendChild(tr);
			}
			tbl.appendChild(tbdy);
			matrix.appendChild(tbl);
			var p = document.createElement('p');
			var submit = document.createElement('a');
			submit.href = "#";
			submit.id = "submitMatrix";
			submit.onclick = getMatrixData;
			submit.appendChild(document.createTextNode("Elküld"));
			p.appendChild(submit);
			var submitMatrix = document.getElementById("submitMatrix");
			while (submitMatrix.hasChildNodes()) {
				submitMatrix.removeChild(submitMatrix.lastChild);
			}
			submitMatrix.appendChild(p);
		}
		function drawChart(graphData){
			var graph = document.getElementById("graph");
			while (graph.hasChildNodes()) {
				graph.removeChild(graph.lastChild);
			}
			var chartGraph = document.createElement('div');
			chartGraph.id = 'chartGraph';
			chartGraph.className = 'chartGraph';
			var canvas = document.createElement('canvas');
			canvas.id = 'myChart';
			chartGraph.appendChild(canvas);
			graph.appendChild(chartGraph);
			var chartLegend = document.createElement('div');
			chartLegend.id = 'chartLegend';
			chartLegend.className = 'chartLegend';
			graph.appendChild(chartLegend);
			// alert(graphData[0]);
			var ctx = canvas.getContext("2d");
			var options = {multiTooltipTemplate: "<%= datasetLabel %>: <%= value %>"};
			var data = {
				labels: graphData.labels,
				datasets: graphData.datasets,
			};
			// var nColor = 220;
			// var nColorGap = 40;
			var tColors = [
				'255,99,71',
				'255,215,0',
				'32,178,170',
				'124,252,0',
				'0,0,128',
				'75,0,130',
				'255,0,255',
				'245,222,179',
				'139,69,19',
				'112,128,144',
				'192,192,192'
			];
			for(i=0;i<data.datasets.length;i++){
				var obj = data.datasets[i];
				obj.fillColor = "rgba("+tColors[i]+",0.5)";
				obj.strokeColor = "rgba("+tColors[i]+",0.8)";
				obj.highlightFill = "rgba("+tColors[i]+",0.75)";
				obj.highlightStroke = "rgba("+tColors[i]+",1)";

				// obj.fillColor = "rgba("+(nColor-i*nColorGap)+","+(nColor-i*nColorGap)+","+(nColor-i*nColorGap)+",0.5)";
				// obj.strokeColor = "rgba("+(nColor-i*nColorGap)+","+(nColor-i*nColorGap)+","+(nColor-i*nColorGap)+",0.8)";
				// obj.highlightFill = "rgba("+(nColor-i*nColorGap)+","+(nColor-i*nColorGap)+","+(nColor-i*nColorGap)+",0.75)";
				// obj.highlightStroke = "rgba("+(nColor-i*nColorGap)+","+(nColor-i*nColorGap)+","+(nColor-i*nColorGap)+",1)";
			}
			ctx.canvas.width  = document.getElementById("chartGraph").clientWidth;
			var myBarChart = new Chart(ctx).Bar(data, options);
			legend(document.getElementById("chartLegend"), data);
		}
		function addTextResultHeader(){
			var textResult = document.getElementById("textResult");
			var p = document.createElement('p');
			var h2 = document.createElement('h2');
			h2.innerHTML = " Eredmény ›";
			p.appendChild(h2);
			textResult.appendChild(p);
		}

		function getMatrixData(){
			var nKostolok = 0;
			var nBorok = 0;
			var tempArray = [];
			for (j=0;j<nMaxSize;j++) {
				for (i=0;i<nMaxSize;i++) {
					var ij = document.getElementById(i+":"+j);
					if (!ij){
						break;
					}
					nKostolok = j;
					nBorok = i;
					var ijValue = ij.value;
					//  validate values here
					if (i==0 && isEmpty(ijValue)){
						alert("Az " + (i+1) + ". kóstolót nem nevezte el!")
						return;
					}else if (i>0 && isNaN(ijValue)){
						alert("Az " + (j+1) + ". kóstoló által értékelt " + i + ". bor pontszáma nem megfelelő formátumú! (Számnak kell lennie, vagy üresen kell hagyni)")
						return;
					}
					tempArray[tempArray.length] = ijValue.trim();
				}
			}
			var returnArray = [ nKostolok+1, nBorok, document.getElementById('algoritmus').value ];
			returnArray.push.apply(returnArray, tempArray);

			var xmlhttp=new XMLHttpRequest();
			xmlhttp.onreadystatechange=function(){
				if (xmlhttp.readyState==4 && xmlhttp.status==200){
					
					// document.getElementById("result").innerHTML = xmlhttp.responseText;
					
					var algoritmus = returnArray[2];
					if (algoritmus == "hits"){
						alert(xmlhttp.responseText);
						var data = JSON.parse(xmlhttp.responseText);
						// let the users client calculate eigenvalues and vectors.
						var B = numeric.eig(numeric.transpose(data.matrix));

						var xmlhttpEIG=new XMLHttpRequest();
						xmlhttpEIG.onreadystatechange=function(){
							if (xmlhttpEIG.readyState==4 && xmlhttpEIG.status==200){
								// var response = JSON.parse(xmlhttpEIG.responseText);
								var CoHITS = JSON.parse(xmlhttpEIG.responseText);

								var tCorrelation = data.tCorrelation;
								var tSumOfDiff = data.tSumOfDiff;

								alert(JSON.stringify(tCorrelation));

								var bZeroCollerlationFound = false;
								for (var i = 0; i < tCorrelation.length; i++) {
									if (tCorrelation[i] == 0){
										bZeroCollerlationFound = true;
										break;
									}
								};
								var graphData = {labels: data.tOrderOfTasters, datasets: [{label: 'CoHITS', data: CoHITS}, {label: 'Korreláció', data: tCorrelation}, {label: 'Különbségek átlaga', data: tSumOfDiff}]};
								if (bZeroCollerlationFound){
									graphData = {labels: data.tOrderOfTasters, datasets: [{label: 'CoHITS', data: CoHITS}, {label: 'Különbségek átlaga', data: tSumOfDiff}]};
								}
								// alert(tCorrelation);;
								clearResults();
								addTextResultHeader();
								drawChart(graphData);;
								// document.getElementById("result").innerHTML = JSON.stringify(tSumOfDiff);
							}
						}
						xmlhttpEIG.open("POST","CoHITS_from_eig.php?q="+JSON.stringify(B),false);
						xmlhttpEIG.send();
					} else {
						// alert(xmlhttp.responseText);
						var response = JSON.parse(xmlhttp.responseText);
						var array=[];
						for(a in response){
							array.push([a,response[a]])
						}
						array.sort(function(a,b){return a[1] - b[1]});
						array.reverse();
						// alert(array[0][0]);
						clearResults();
						addTextResultHeader();
						
						var tbl = document.createElement('table');
						var thead = document.createElement('thead');
						var trHead = document.createElement('tr');
						var th = document.createElement("th");
						th.appendChild(document.createTextNode("#"));
						trHead.appendChild(th);
						var th = document.createElement("th");
						th.appendChild(document.createTextNode("Név"));
						trHead.appendChild(th);
						var th = document.createElement("th");
						th.appendChild(document.createTextNode("Értékelés"));
						trHead.appendChild(th);
						thead.appendChild(trHead);
						tbl.appendChild(thead);

						var nKostolok = array.length;
						var tbdy=document.createElement('tbody');
						for (i=0;i<nKostolok;i++){
							var tr=document.createElement('tr');
							var td=document.createElement('td');
							td.appendChild(document.createTextNode((i+1)+"."));
							tr.appendChild(td);
							var td=document.createElement('td');
							td.appendChild(document.createTextNode(array[i][0]));
							tr.appendChild(td);
							var td=document.createElement('td');
							td.appendChild(document.createTextNode(array[i][1]));
							tr.appendChild(td);
							tbdy.appendChild(tr);
						}
						tbl.appendChild(tbdy);

						document.getElementById("textResult").appendChild(tbl);
					}
				}
			}
			xmlhttp.open("POST","demo.php?q="+JSON.stringify(returnArray),false);
			xmlhttp.send();

		}
		function test(){
			var nKostolok = 7;
			var nBorok = 55;
			document.getElementById("kostolok").value = nKostolok;
			document.getElementById("borok").value = nBorok;
			addMatrix()
			var data = ["1. Kóstoló","16.4","14.8","15.8","15.2","10","14.9","13","14.7","14","15.3","16.5","14.4","","10","15.8","15.2","15.5","12","14.5","13","15.9","14.4","10","13.5","12","15","14.4","10","16.9","13","14","15.2","15","15.9","13","12","14.2","16.7","13.5","15","12","13.5","16.3","15.2","10","10","14.8","13","14","15","16.6","10","16.1","17","12",
"2. Kóstoló","16.9","17.5","16.8","14","10","14.4","12","14.3","14.5","14.5","14","14","16","","12","15","16","14","10","12","14","","","14.4","12","10.5","","12","16.3","14.8","15.8","15.5","15.8","17.8","13","17.4","15","16","18","16.5","16","12","18","17.4","11","11","18.5","16","14","17.3","17.2","10","18.5","18.5","10",
"3. Kóstoló","16.8","14.4","15","14","","16.4","13","12.5","14","15.5","14.8","16","14.5","","15.8","14","15","12","16.8","16","17.8","16","","17.8","15","15.8","13","15","17","14","13","14.5","15","16","14","16","12","14","13","14","13","14","15","14","12","","","15","12","17.8","17.4","","16.5","17.5","16",
"4. Kóstoló","16.8","12","15.3","15.8","","16.3","16","16.5","16.7","17.6","15.6","15.7","16.2","","14.8","17","17","12","14","15","17.6","15.4","","16.2","15.8","15.9","","15.6","16.5","15","15.5","15.8","12","18","17.5","16.8","13.5","17","15.8","17.2","13","17.6","16.8","16.5","17.8","14.5","18.1","18","17.4","18.4","17.9","","19","19.2","17.7",
"5. Kóstoló","18","14","16","13","","18","12","13","15","12","12","12.5","16","","12","17","15","10","13","","16.3","13","","15.2","15.4","12.5","","14.6","16.4","14.9","14.4","15.2","12.6","16.1","12.9","12.2","12.9","16.5","13.3","15.3","15.4","12.6","16.6","14.2","10","","13.8","12.5","14.5","13.9","14.9","","17.2","16.9","15.2",
"6. Kóstoló","17","15","16","14","","16","15","14","15","14","15","16","15","","14","15","14","14","16","15","16","14","","15.5","15","14","15","14.5","17","12","16.2","16","16.2","17","14.4","16.2","16.5","18","16.5","16.3","16.49","9","17.3","16.6","","","18.4","13.2","13.9","16.49","16.8","","18.3","18.6","18.6",
"7. Kóstoló","16.5","16.5","16.5","14.5","","14.5","15","14.5","14","13","13","16.5","14","","14","13.5","16.5","13.5","15","12.5","16","12","","14","13.8","15.5","12","12.5","16.5","16","14.5","13.5","14.5","17","14","16","12","17","14","13.5","14.5","15.5","17","16","","","17","16.5","12","16.5","17","16.5","16","17.5","17.5",
"",];

			var nCounter = 0;
			for (j=0;j<nKostolok;j++) {
				for (i=0;i<nBorok+1;i++) {
					var ij = document.getElementById(i+":"+j);
					if (!ij){
						break;
					}
					ij.value=data[nCounter];
					nCounter=nCounter+1;
				}
			}
		}
		function probaketto(){
			var nKostolok = 7;
			var nBorok = 5;
			document.getElementById("kostolok").value = nKostolok;
			document.getElementById("borok").value = nBorok;
			addMatrix()
			var data = ["borasz1","1","2","3","4","5",
				"borasz2","1","2","3","5","4",
				"borasz3","1","2","4","3","5",
				"borasz4","1","2","4","5","3",
				"borasz5","4","3","2","1","5",
				"borasz6","5","4","3","2","1",
				"sdfsdfsd","3","23","2","2","2",];

			var nCounter = 0;
			for (j=0;j<nKostolok;j++) {
				for (i=0;i<nBorok+1;i++) {
					var ij = document.getElementById(i+":"+j);
					if (!ij){
						break;
					}
					ij.value=data[nCounter];
					nCounter=nCounter+1;
				}
			}
		}
		function probaharom(){
			var nKostolok = 3;
			var nBorok = 3;
			document.getElementById("kostolok").value = nKostolok;
			document.getElementById("borok").value = nBorok;
			addMatrix()
			var data = ["borasz1","1","","3",
				"borasz5","2","","",
				"borasz6","5","4","",];

			var nCounter = 0;
			for (j=0;j<nKostolok;j++) {
				for (i=0;i<nBorok+1;i++) {
					var ij = document.getElementById(i+":"+j);
					if (!ij){
						break;
					}
					ij.value=data[nCounter];
					nCounter=nCounter+1;
				}
			}
		}
		function probanegy(){
			var nKostolok = 3;
			var nBorok = 3;
			document.getElementById("kostolok").value = nKostolok;
			document.getElementById("borok").value = nBorok;
			addMatrix()
			var data = ["borasz1","1","","3",
				"borasz5","2","","",
				"borasz6","","4","",];

			var nCounter = 0;
			for (j=0;j<nKostolok;j++) {
				for (i=0;i<nBorok+1;i++) {
					var ij = document.getElementById(i+":"+j);
					if (!ij){
						break;
					}
					ij.value=data[nCounter];
					nCounter=nCounter+1;
				}
			}
		}
	</script>
</head>


<body>
	<div id="wrapper">
		<!--HEADER/LOGO-->
		<div id="header">
			<div id="logo">
				<img src="header_image.jpg" alt="Fejléc kép" class="headerImage" />
				<h1>Borkóstolás</h1>
			</div>

			<!--TAB NAVIGATION-->
			<div id="topnav">
				<a href="index.html">Főoldal</a>
				<a href="borkostolasEredmenyek.html">Eredmények</a>
				<a href="demo.html" class="active">Demó</a>
				<a href="modszerek.html">Módszerek</a>
				<a href="kapcsolat.html">Kapcsolat</a>
			</div>
		</div>

		<div id="contentWrapper">
			<!--SIDE BAR CONTENT-->
			<div id="sidebar">
				<div id="container2">
					<div class="blocklinks">
						<h3>Legfrisseb információk &rsaquo;</h3>
						<a href="#" class="link">Az még nincs</a>
						<a href="#" class="link">sajnos.</a>
						<br />
						<h3>Linkek &rsaquo;</h3>
						<a href="http://www.inf.u-szeged.hu/~london/" class="link">London András honlapja</a>
						<a href="http://www.inf.u-szeged.hu/~csendes/" class="link">Csendes Tibor honlapja</a>
					</div>
				</div>
			</div>
			<!--MAIN CONTENT-->
			<div id="content">
				<h2> Demó &rsaquo;</h2>
				<p>
					<a href="#" id="test" onclick="test()">Teszt adatok használata</a><br />
					<a href="#" id="probaketto" onclick="probaketto()">Teszt proba 2</a><br />
					<a href="#" id="probaharom" onclick="probaharom()">Teszt proba 3</a><br />
					<a href="#" id="probanegy" onclick="probanegy()">Teszt proba 4</a><br />
					<br />
					Kóstolók száma:
					<input type="text" id="kostolok" name="Kóstolók száma" class="headerInput" value=""><br />
					Borok száma:
					<input type="text" id="borok" name="Borok száma" class="headerInput" value=""><br />
					Algoritmus:
					<select id="algoritmus" name="Algoritmus">
						<option value="hits">Co_HITS</option>

						<option value="hamming">Hamming</option>
						<option value="cosine">Koszinusz</option>
						<option value="precedence">Precedencia</option>
						<option value="adjacency">Összefüggőségi</option>
						<option value="positional">Pozíció szerint</option>
						<option value="sajat">Saját</option>
					</select>
					<br />
					<a href="#" id="matrixGenerator" onclick="addMatrix()">Beviteli mezők generálása</a><br />
					<br />
				</p>
				<div id="inputMatrix"></div>
				<div id="submitMatrix"></div>
				<div id="result">
					<div id="textResult" class="textResult"></div>
					<div id="graph" class="graph"></div>
				</div>
			</div>
		</div>

		<!--THE FOOTER-->
		<div id="footer">
			<div id="footerText">
				<p>Készítette - 2014 Varga Tamás</p>
				&nbsp;
			</div>
		</div>
	</div>
</body>
</html>

