/***Misc Tags***/

* {
	margin: 0px;
	padding: 0px;
}

html, body {
	background: #fff url(bodybg.png) repeat-x;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	color: #000;
	text-align: center;
	margin:0;
	padding:0;
	height:100%;
}

a img{
	border: 0px;
}

a {
	text-decoration: none;
}

.hidden {
	text-indent: -9000px;
	background: inherit;
}

/***Header/logo tags***/

#wrapper {
	min-height:100%;
	position:relative;
}

#header {
	width: 850px;
	margin: 0 auto;
	height: 180px;
	border-top: 1px solid #000;
}

#logo {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	width: 250px;
}

#logo h1,#logo h2 {
	font-weight:400;
	letter-spacing:-2px;
}

#logo h1 {
	font-size:1.8em;
	padding-top:-10px;
	color: #bb1f42;
}

#logo h2 {
	font-size:1.3em;
	color: #a0a0a0;
}

#logo img {
	margin-left: -40px;
	width: 720px;
	height: 90px;
}

/* Top Navigation */

#topnav {
	margin-top:105px;
	margin-left: 300px
}

#topnav a{
	display: block;
	float: left;
	text-align: center;
	width: 110px;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	color: #a0a0a0;
	text-transform: uppercase;
	font-size: 0.7em;
	background-image:url(tab.png);
	background-position:bottom left;
	background-repeat:no-repeat;
}

#topnav a:hover {
	background-image:url(tab.png);
	color: #000;
	background-position:top left;
	background-repeat:no-repeat;
}

#topnav .active {
	background-image:url(tab.png);
	color: #FE5F6F;
	background-position:top left;
	background-repeat:no-repeat;
}

/* Main content (WHITE) area */

#contentWrapper {
	clear: both;
	width: 960px;
	margin: 20px auto 0 auto;
	padding-bottom: 100px;  /* Height of the footer */
}

#content {
	clear: both;
	text-align: left;
	width: 720px;
	padding: 5px;
}

#content h2{
	padding-left: 8px;
	font-size: 1.2em;
	text-transform: uppercase;
	margin-left: 15px;
	letter-spacing:-1px;
	margin-bottom: 10px;
	color: #bb1f42;
}

#content p {
	font-size: 0.8em;
	line-height: 1.5em;
	color: #8f8f8f;
}

#content p a{
	color: #383838;
	text-decoration: none;
	border-bottom: 1px gray dotted;
}

#content p a:hover {
	color: #bb1f42;
	text-decoration: underline;
	border: none;
}

#image {
	text-align: center;
	font-size: 0.6em;
	line-height: 1.5em;
	color: #404040;
}

#forras	{
	text-align: right;
	font-size: 0.8em;
	line-height: 1.5em;
	color: #404040;
}

/* Tables */


#scrollingTable {
	overflow: auto;
}

table{
	border: 0px solid black;
	border-spacing: 0px;
	white-space: nowrap;
}

table thead tr{
	font-family: Arial, monospace;
	font-size: 12px;
}

table thead tr th{
	border-bottom: 2px solid black;
	border-top: 1px solid black;
	margin: 0px;
	padding: 2px;
	background-color: #cccccc;
}

table tr {
	font-family: arial, monospace;
	color: black;
	font-size:10px;
	background-color: white;
}

table tr:nth-child(even) {
	background-color: #AAAAAA;
}

table tr td, th{
	border-bottom: 1px solid black;
	padding: 2px;
}

/* new table stlye */

.topScrollingBlockWrapper { width: 50%; overflow-x: auto; overflow-y: hidden; height: 20px;}

.tableContainer {
	clear: both;
	width: 100%;
	display:inline-block;
}

.leftTableContainer {
	width: 50%;
	float:left;
	overflow-x: auto;
}

.rightTableContainer {
	width: 45%;
	float: left;
	margin-left: 5%;
}

/* side bar */

#sidebar {
	position: fixed;
	margin-left: 780px;
	top: 210px;
	width: 240px;
	font-size: 0.7em;
	color: #8f8f8f;
}

#container2 {
	clear: both;
	background: #333333;
	text-align: left;
}

#container2 h3{
	font-size: 1.2em;
	text-transform: uppercase;
	margin-left: 10px;
	letter-spacing:-1px;
	margin-bottom: 10px;
	color: #bb1f42;
}

.name {
	color: #c0c0c0;
}

.blocklinks {
	float: left;
	width: 240px;
}

.blocklinks a.link {
	display: block;
	padding: 8px;
	background: inherit;
	border-top: 1px dotted #a0a0a0;
	color: #8f8f8f;
}

.blocklinks a:visited {
	color: #4A4A4A;
}

.blocklinks a:hover.link {
	color: #DDD;
	background: #525252;
	border-top: 1px dotted #a0a0a0;
}

/* footer */

#footer {
	position:absolute;
	bottom:0;

	font-size: 0.7em;
	padding-top: 40px;

	background: #333333 url(bg2.png) repeat-x;
	width: 100%;
}

#footerText {
	margin-top: 40px;
	text-align: center;
	font-size: 0.8em;
	color: #a0a0a0;
	clear: both;
}