/***Misc Tags***/

html, body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    color: #000;
    text-align: center;
}

.hidden {
    text-indent: -9000px;
    background: inherit;
}

/* Main content (WHITE) area */

#result {
    margin-top: 20px;
    height: 500px;
}

#content {
    clear: both;
    text-align: left;
    width: 100%;
}

#content h2{
    padding-left: 8px;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-left: 15px;
    letter-spacing:-1px;
    margin-bottom: 10px;
    color: #bb1f42;
}

#content p {
    font-size: 0.8em;
    line-height: 1.5em;
    color: #8f8f8f;
}

.graph {
    clear: both;
    width: 100%;
    display:inline-block;
}

.chartGraph {
    width: 70%;
    float:left;
}

.chartLegend {
    width: 25%;
    float:left;
}

.legend {
    border: 1px dotted #a0a0a0;
    float:left;
}

.legend .title {
    font-family: arial, monospace;
    color: black;
    font-size: 12px;

    display: block;
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
}

